{template 'common/header'}
    <div class="panel-body">
        <form action="" method="get" class='form form-horizontal'>
            <div class="panel panel-info">
                <div class="panel-heading">筛选</div>
                <div class="panel-body">
                    <form action="./index.php" method="get" class="form-horizontal" plugins="form">
                        <input type="hidden" name="c" value="site" />
                        <input type="hidden" name="a" value="entry" />
                        <input type="hidden" name="m" value="td_redenvelopes" />
                        <input type="hidden" name="do" value="index" />
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键词</label>
                            <div class="col-xs-12 col-sm-8 col-lg-9">
                                <input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="可搜索昵称/领奖码/备注/手机号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">按时间</label>
                            <div class="col-sm-2">
                                <select name='searchtime' class='form-control'>
                                    <option value='' {if empty($_GPC['searchtime'])}selected{/if}>不搜索</option>
                                    <option value='1' {if $_GPC['searchtime']==1}selected{/if} >搜索</option>
                                </select>
                            </div>
                            <div class="col-sm-7 col-lg-9 col-xs-12">
                                {php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d  H:i', $endtime)),true);}
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">发放状态</label>
                            <div class="col-sm-2">
                                <select name='status' class='form-control'>
                                    <option value='' {if empty($_GPC['status'])}selected{/if}>不搜索</option>
                                    <option value='1' {if $_GPC['status']==1}selected{/if} >发放成功</option>
                                    <option value='0' {if $_GPC['status']==0}selected{/if} >发放失败</option>
                                    <option value='2' {if $_GPC['status']==2}selected{/if} >未发</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"> </label>
                            <div class="col-xs-12 col-sm-2 col-lg-2">
                                <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th  style="width: 160px;">微信用户</th>
                    <th style="width: 100px">领奖码</th>
                    <th style="width: 120px;">状态</th>
                    <th style="width: 160px;">备注</th>
                    <th style="width: 80px;">次数</th>
                    <th style="width: 150px;">领取时间</th>
                    <th style="width: 150px;">重新领取时间</th>
                    <th>金额</th>
                    <th style="width: 100px;">操作</th>
                </tr>
                </thead>
                <tbody>
                {if $list}
                {loop $list $row}
                <tr>
                    <td>
                        <img src="{$row['avstar']}" style="width: 40px;border-radius: 8px" alt="">
                        {$row['nickname']}<br>
                        {$row['mobile']}
                    </td>
                    <td>{$row['code']}</td>
                    <td>
                        {if $row['status'] == 1}
                            <i class="fa fa-check"></i>领取成功
                        {else if $row['status'] == 2}
                        <i class="fa fa-close"></i>记录成功
                        {else}
                        <i class="fa fa-close"></i>领取失败
                        {/if}
                    </td>
                    <td title="{$row['message']}">{$row['message']}</td>
                    <td>{$row['times']}</td>
                    <td>
                        {php echo date('Y-m-d H:i:s', $row['createtime'])}
                    </td>
                    <td>
                        {if $row['updatetime']}
                        {php echo date('Y-m-d H:i:s', $row['updatetime'])}
                        {/if}
                    </td>
                    <td>
                        {$row['money']}
                    </td>
                    <td>
                        {if $row['status'] == 2}
                        <a href="javascript:;" class="btn btn-danger btn-sm" onclick="send_red('{$row["id"]}')">后台发送</a>
                        {else if $row['status'] == 0}
                        <a href="javascript:;" class="btn btn-warning btn-sm" onclick="send_red('{$row["id"]}')">重新发送</a>
                        {else}
                        {/if}

                    </td>
                </tr>
                {/loop}
                {else}
                <tr style="text-align: center"><td colspan="8">暂无数据</td></tr>
                {/if}
                </tbody>
            </table>
        </div>
        <div class="panel-body">
            <a href="{php echo $this->createWebUrl('index', array('pp'=>'export'))}" class="btn btn-success btn-sm">导出</a>
            <a href="{php echo $this->createWebUrl('fans')}" class="btn btn-info btn-sm">粉丝金额排行榜</a>
            <a href="javascript:;" class="btn btn-danger btn-sm">发送总金额:{php echo $send_amount>0 ? $send_amount : 0}</a>
            <a href="javascript:;" class="btn btn-warning btn-sm">搜索发送金额:{php echo $search_amount>0 ? $search_amount : 0}</a>
            <div style="float: right;">
                {$pager}
            </div>
        </div>
    </div>
<script>
    function send_red(id) {
        var r = window.confirm('确认发送红包吗?');
        if(r) {
            var url = "{php echo $this->createWebUrl('send')}";
            $.ajax({
                'url':url,
                'data':{id:id},
                'success': function (res) {
                    var result = eval("("+res+")");
                    if(result.status == 1){
                        alert('发送成功');
                    } else {
                        alert('发送失败');
                    }
                    console.log(res);
                }
            })
        }
    }
</script>
{template 'common/footer'}